<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Sklep</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/shop-global.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/shop.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/modal.css') }}">
</head>
<body>
    <header>
        <h1 class="site-title">Steel Factory</h1>
        <nav>
            <button id="login-btn">Zaloguj</button>
            <button id="register-btn">Zarejestruj</button>
        </nav>
    </header>
        
    <main>
        <div class="cart-list">
            <h1>Zamówienia użytkownika: {{current_user.username}}</h1>
        </div>
    </main>

<script src="{{ url_for('static', filename='js/modal.js') }}"></script>
<script src="{{ url_for('static', filename='js/shop.js') }}"></script>
</body>
</html>
