<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Zamówienia</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/orders.css') }}">
</head>
<body>

<nav>
    <a href="/warehouse">Magazyn</a>
    <a style="color: #00ff00;" href="/orders">Zamówienia</a>
</nav>

<div class="container">
    <div id="orders">
        <table id="items">
            <thead>
                <tr>
                    <th>
                        <input type="text" class="search" data-column="0" placeholder="Klient...">
                    </th>
                    <th>
                        <input type="text" class="search" data-column="1" placeholder="Adres...">
                    </th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    
    <div id="details">
        <h2>Wybierz zamówienie</h2>
        <table>
            <thead>
                <tr>
                    <th>Produkt</th>
                    <th>Ilość</th>
                    <th>Dostępna</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
</div>

<script src="{{ url_for('static', filename='js/orders.js') }}"></script>
</body>
</html>
