* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

nav {
    background-color: #060601;
    padding: 10px 30px;
    display: flex;
    gap: 20px;
    color: #ecf0f1;
    font-weight: 500;
    transition: color 0.2s;
}

nav a {
    color: #ecf0f1;
    font-weight: 500;
    transition: color 0.2s;
}

nav a:hover {
    color: #ffcc00;
}

.nav-btn {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    color: white;
    text-align: inherit;
    cursor: pointer;
    font-weight: 500;
    transition: color 0.2s;
}

.nav-btn:hover {
    color: #ffcc00;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    overflow: hidden;
}

table thead th {
    text-align: left;
    padding: 12px 15px;
    font-size: 4vh;
}

table tr {
    border: 1px solid black;

}

table tbody td {
    padding: 12px 15px;
    font-size: 14px;
}

table tbody tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

table tbody tr.selected {
    background-color: #c8e6c9;
}