body {
    background-color: black;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    gap: 10%;
    font-size: 4vh;
}

a {
    font-family: 'Overseer', sans-serif;
    color: #ffcc00;
    transition: color 0.3s ease, text-shadow 0.3s ease;
}

a:hover {
    color: #ffd633;
    text-shadow: 0 0 5px #ffd633;
}