@font-face {
    font-family: 'Overseer';
    src: url('/static/fonts/Overseer Italic.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    background-color: #111010;
    background-size: 100%;
    height: 100vh;
    font-family: 'Overseer', sans-serif;
    -webkit-text-stroke: 0.05px #ffaa00;
}

header {
    text-align: center;
}

/* Nagłówek / tytuł strony */
.site-title {
    font-family: 'Overseer', sans-serif;
    font-size: 7vh;
    color: #ffcc00;
    text-shadow:
        0 0 2px #ffcc00,
        0 0 5px #ffd633;
    animation: pulse 1.5s infinite alternate;
}

@keyframes pulse {
    0% {
        text-shadow: 0 0 5px #ffcc00, 0 0 12px #ffd633;
    }
    50% {
        text-shadow: 0 0 8px #ffcc00, 0 0 18px #ffd633;
    }
    100% {
        text-shadow: 0 0 5px #ffcc00, 0 0 12px #ffd633;
    }
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    gap: 10%;
    font-size: 4vh;
}

a {
    font-family: 'Overseer', sans-serif;
    color: #ffcc00;
    text-decoration: none;
    transition: color 0.3s ease, text-shadow 0.3s ease;
}

a:hover {
    color: #ffd633;
    text-shadow: 0 0 5px #ffd633;
}