.container {
    display: flex;
    flex-direction: row;
}

#details {
    margin-left: 3%;
    display: none;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    overflow: hidden;
}

table thead th {
    text-align: left;
    padding: 12px 15px;
    font-size: 4vh;
}

table tbody td {
    padding: 12px 15px;
    font-size: 14px;
}

table tbody tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

table tbody tr.selected {
    background-color: #c8e6c9;
}