<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Steel Factory</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    <header>
        <h1 class="site-title">Steel Factory</h1>
    </header>
        
    <main>
        <a href="/warehouse">ERP System</a>
        <a href="/shop">Strona klienta</a>
    </main>

</body>
</html>
