.close {
    color: red;
    font-weight: bold;
    font-size: 26px;
    cursor: pointer;
}

.modal-content {
    max-width: 15%;
}

.modal {
    width: fit-content;
    border: 1px solid rgb(125, 123, 123);
}